<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                URL shortener
            </a>
        </div>

        <ul class="nav navbar-nav">
            <form action="/urls/logout" method="POST">
            <h2>Current User: <%=username%> </h2> <input type="submit" value="Logout">
            </form>
            <li><a href="/urls">Home</a></li>
            <li><a href="/urls/user">My Page</a></i>
            <li><a href="/urls/new">New URL</a></li>
        </ul>

    </div>
</nav>