<div style="padding:10px 10px;height:50px;background-color:#462E74">
    <h1>URL shortener</h1>
</div>
<div >
        <ul>
            <h2 style="margin-left: 1%">Current User: <%=username%> </h2>
            <li><a href="/urls">Home</a></li>
            <li><a href="/urls/user">My Page</a></li>
            <li><a href="/urls/new">New URL</a></li>
            <li style="float:right"><a class = "active" href="/urls/logout">Logout</a></li>
        </ul>

    </div>