<html lang="en">

  <body class = "container">
      <!-- Write EJS code here to display shortened links -->
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div class="jumbotron">
      <h1><%=shortURL%></h1>
      <p><%=longURL%><a href="/urls/<%=shortURL%>/edit"> <button>Edit</button></a></p>
        <form method="POST" action="/urls/<%=index%>/delete">
              <input type="submit" value="delete"/>
        </form>
      </div>
    </main>
    <!-- Write EJS code here to display shortened links -->
</body>
</html>
