<html lang="en">
<% include ../partials/head %>
  <body class = "container">
      <!-- Write EJS code here to display shortened links -->
    <header>
    <ul>
      <h1 style="margin-left: 1%"><%=username%> </h1>
      <li style="float:right"><a class = "active" href="/urls/logout">Logout</a></li>
    </ul>
    </header>
    <main>
    <div style="padding:1px 200px;height:1000px;background-color:#8C7AAE">
        <h1>Url DataBase</h1>

          <% for(index in urls) { %>
            <p style= "font-size: 32px">ID: <%= index%>
            URL: <%= urls[index] %></p>
          <% }; %>

      </div>
    </main>
  </body>
</html>