<html lang="en">
<style>
body{
  background-image: url("http://localhost:8080/css/rBZ2QrQ.jpg");
}
</style>
  <body class = "container">

      <!-- Write EJS code here to display shortened links -->
<h1 style= "color: white">Login</h1>
<form ation="/urls/login" method="post">
  <p style= "color: white">
    <input type= "username" name="username" placeholder="username" />
    <input type= "password" name="password" placeholder="password" />
  </p>
  <p>
    <button>Submit</button>
  </p>
</form>

<h1 style= "color: white">Don't have an account?</h1>
<form action="/urls/guest" method="post">
<h3 style= "color: white">Try it out as guest!</h3>
<input type="submit" value="click here!"/>
</form>
<h3 style= "color: white">Or make your own account!</h3>
<a href = "/urls/reg"><button>Register!</button></a>
