<html lang="en">
<% include ../partials/head %>

  <body class = "container">
      <!-- Write EJS code here to display shortened links -->
<h1>Register today and help fight the Galatic Empire Of People That Kill Babies</h1>
<form action="/urls/reg" method="post">
  <p>
    <input type= "username" name="username" placeholder="username" />
    <input type= "password" name="password" placeholder="password" />
  </p>
  <p>
    <button>Submit</button>
  </p>
</form>
