<html lang="en">
<% include ../partials/head %>
<style>
body{
  background-image: url("http://localhost:8080/css/images5.jpg");
  background-repeat: no-repeat;

}
</style>
  <body class = "container">
    <header >
      <% include ../partials/header %>
    </header>
    <main>
       <div style="padding:1px 200px;height:1000px;">
        <h1>Edit <%=id%></h1>
        <form action="/urls/<%= id %>" method="post">
          <p>
            <input name="newLongURL" placeholder="<%= longURL%>" style="width: 300px;" />
          </p>
            <button>Update URL</button>
        </form>
      </div>
    </main>
  </body>
</html>