<html lang="en">
<% include ../partials/head %>
  <body class = "container">
      <!-- Write EJS code here to display shortened links -->
    <header>
      <% include ../partials/header %>
    </header>
    <main>
      <div style="padding:1px 200px;height:1000px;background-color:#8C7AAE">
        <h1>Url DataBase</h1>
          <% for(index in urls) { %>
            <p style= "font-size: 32px">ID: <%= index%> </p>
            <p style= "font-size: 24px">URL: <%= urls[index] %></p>
          <% }; %>
      </div>
    </main>
  </body>
</html>