<html lang="en">
<% include ../partials/head %>
<style>
body{
  background-image: url("http://localhost:8080/css/images4.jpg");
  background-repeat: no-repeat;

}
</style>
  <body class = "container">
      <!-- Write EJS code here to display shortened links -->
    <header>
    <ul>
      <h1 style="margin-left: 1%"><%=username%> </h1>
      <li style="float:right"><a class = "active" href="/urls/logout">Logout</a></li>
    </ul>
    </header>
    <main>
    <div style="padding:1px 200px;height:1000px;">
        <h1 style="color: white;font-size: 5em;">Url DataBase</h1>

          <% for(index in urls) { %>
            <p style= "color:white;font-size: 2em">ID: <%= index%>
            URL: <%= urls[index] %></p>
          <% }; %>

      </div>
    </main>
  </body>
</html>